.mainBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(75, 224, 187);
}

.greeting {
    width: 300px;
    background-color: #C38D9E;
}

.photo {
    margin: 2%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgb(10, 141, 108);
    border: 5px solid;
}

.photo img {
    width: 30vh
}

.photo:hover {
    transform: translate(20px);
    transition: 0.3s;
}

.photo img:hover {
    transform: translate(-55px, 25px);
    transition: 0.3s;
}